@import url('https://fonts.googleapis.com/css?family=Lato');
/*@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i,900,900i&subset=latin-ext');*/
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i&subset=cyrillic,greek,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i&subset=cyrillic,greek,latin-ext');

/*@import 'https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&subset=cyrillic,greek,latin-ext';*/
@import url('https://fonts.googleapis.com/css?family=Tinos:400,400i,700,700i&subset=cyrillic,greek,latin-ext');

@import url(h5bp.css);
/* @import url(hilite.css); */

/*============================================================================*/

* {
	box-sizing: border-box;
}
html {overflow-y: scroll; }
body {
	color: #BBB;
	background-color: rgb(54,50,65); /* 10PB 2/2 */
	font-family: 'Vollkorn', Tinos, serif;
	font-size: 18px;
	margin: 20px;
}

pre, code {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 16px;
}

a, a:visited, span.link {
	color: #FFF;
	text-decoration: none;
}
a:hover, span.link:hover {
  text-decoration: underline;
  color: #FFF;
}

a.active, a.active:visited, span.link {
	color: #BBB;
	text-decoration: none;
}
a.active:hover, span.link:hover {
  text-decoration: none;
  color: #BBB;
}

/*============================================================================*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing: .15em;
	text-transform: uppercase;
	margin: 0 0 16px 0;
	color: rgb(173,167,228); /* 10PB 7/8 */
}

h1, h2, h3 {
	clear: both;
}

h1 {font-size: 30px; margin-top: 0; margin-bottom: 45px; padding-top: 78px;}
h2 {font-size: 21px; margin-top: 45px; }
h3 {font-size: 16px; margin-top: 54px; }
h4 {font-size: 16px; margin-top: 54px; text-transform: none;}

p, dd {
	text-align: justify;
	/* line-height: 1.6em; */
	font-size: 18px;
}
dt {
	font-size: 18px;
}
p.note {
	font-size: 0.9em;
}

hr {
	border-color: rgb(98,95,111); /* 10PB 4/2 */
	border-style: none;
	border-top-style: solid;
	margin: 24px 18px;
}

/*============================================================================*/

@media only screen and (min-width: 43em) {
    /* Style adjustments for viewports that meet the condition */
	#root {
		max-width: 1000px;
		margin: 0 auto;
		display: flex;
	}
}

.leaflet-popup-content {
	width: 150px;
}

/*============================================================================*/
